.error {
	color: black;
	font-weight: bold;
}

.hide {
	display: none;
}

.success {
	color: green;
}

label {
	margin-top: 1.5em;
	display: block;
}

button {
	display: block;
}

body {
  width: 50em;
  margin-left: auto ;
  margin-right: auto ;
  border: 2px solid white;
  padding: 1.5em;
  padding-top: 0;
  background-image:url('oldpaper.jpg');
  background-repeat:repeat-x;
}

.price:before {
	content: '$'
}

.price {
	padding-right: .2em;
}

.inline {
	display: inline;
}

ul, li { 
	list-style: none;
	padding: 0;
	margin: 0;
}

ul {
	margin-bottom: 1.5em;
}

h1 {
	color: white;
	background-color: #341d08;
	margin-top: 0;
	margin-right: -.73em;
	margin-left: -.73em;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center; 
}

html {
	background-color: #ac552d;
	color: white;
}

footer {
	margin-top: 1em;
}

a, a:visited {
	color: white;
	margin-right: .4em;
}


.adminFooterLinks a, .adminFooterLinks a:visited {
	color: #341d08;
	margin-right: .4em;
}

button.admin {
	display: inline;
}
