.error {
	color: red;
	font-weight: bold;
}

.hide {
	display: none;
}

.success {
	color: green;
}

label {
	margin-top: 1.5em;
	display: block;
}

button {
	display: block;
}

body {
  width: 50em;
  margin-left: auto ;
  margin-right: auto ;
  border: 2px solid white;
  padding: 1.5em;
  padding-top: 0;
  background-image:url('oldpaper2.jpg');
  background-repeat:repeat-x;
  font-family: ‘American Typewriter’, ‘Courier New’, Courier, Monaco, mono;
  font-weight:bold;
}

.price:before {
	content: '$'
}

.price {
	padding-right: .2em;
}

.inline {
	display: inline;
}

ul, li { 
	list-style: none;
	padding: 0;
	margin: 0;
}

ul {
	margin-bottom: 1.5em;
}

h1 {
	background-color: #341d08;
	background-image: url('strip.jpg');
	background-repeat: repeat-x;
	background-position: center;
	margin-top: 0;
	margin-right: -.73em;
	margin-left: -.73em;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center; 
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #9c8468;
    opacity: 0.7;
	font-family: ‘American Typewriter’, ‘Courier New’, Courier, Monaco, mono;

}

html {
	background-color: #472400;
	color: black;
}

footer {
	margin-top: 1em;
}

a, a:visited {
	margin-right: .4em;
}


.adminFooterLinks a, .adminFooterLinks a:visited {
	color: white;
	margin-right: .4em;
}

button.admin {
	display: inline;
}

.basicbutton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a83528), color-stop(1, #3d1616) );
	background:-moz-linear-gradient( center top, #a83528 5%, #3d1616 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a83528', endColorstr='#3d1616');
	background-color:#a83528;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:‘American Typewriter’, ‘Courier New’, Courier, Monaco, mono;;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:2px 2px 2px #000000;
}.basicbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d1616), color-stop(1, #a83528) );
	background:-moz-linear-gradient( center top, #3d1616 5%, #a83528 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d1616', endColorstr='#a83528');
	background-color:#3d1616;
}.basicbutton:active {
	position:relative;
	top:1px;
}

.hpbarfill{
	background-image: linear-gradient(bottom, rgb(47,102,50) 0%, rgb(10,245,17) 50%, rgb(47,102,50) 100%);
	background-image: -o-linear-gradient(bottom, rgb(47,102,50) 0%, rgb(10,245,17) 50%, rgb(47,102,50) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(47,102,50) 0%, rgb(10,245,17) 50%, rgb(47,102,50) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(47,102,50) 0%, rgb(10,245,17) 50%, rgb(47,102,50) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(47,102,50) 0%, rgb(10,245,17) 50%, rgb(47,102,50) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(47,102,50)),
		color-stop(0.5, rgb(10,245,17)),
		color-stop(1, rgb(47,102,50))
	);
}